.service-box {
    padding: 25px;
    background: #fff;
    transition: .4s;
}
.service-box:hover {
    background-color: #fff;
    box-shadow: 0 16px 32px 0 rgba(196,203,255,.3);
}
.service-link {
    color: #011a39;
}
.service-box a {
    transition: .4s;
}
.service-box a:hover {
    transition: .4s;
    color: #0073e0;
}